* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

#form {
  background-color: #088fae9c;
  border-radius: 5px;
}

.form-box {
  width: 90%;
  max-width: 450px;
  position: relative;
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 10px;
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #3c00a0;
  position: relative;
}

.form-box h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #3c00a0;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i {
  margin-left: 15px;
  margin-right: 15px;
  color: #999;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #3c00a0;
}

.btn-field button {
  font-size: larger;
  flex-basis: 48%;
  color: #3c00a0;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.Login {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 16px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: black;
}

.btn-field button:hover {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .form-box {
    padding: 40px 20px 50px;
  }

  .form-box h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .input-field {
    max-height: 55px;
  }

  input {
    padding: 14px 12px;
  }

  .input-field i {
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-field button {
    font-size: medium;
    height: 36px;
    width: 120px;
  }

  .Login {
    font-size: 18px;
  }
}
